.bottom-container {
    padding: 60px calc(50% - 555px);
    background: url('../img/bg/background_bottom.png') center / cover no-repeat;
}

.bottom-container__title {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
}

.bottom-container__text {

    font-weight: 400;
    font-size: 16px;
    max-width: 825px;
    width: 100%;
    margin-bottom: 24px;
}

.bottom-container__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__input {
    max-width: 350px;
    padding: 13px 0 11px 16px;
}

.form__input::placeholder {

    font-weight: 400;
    font-size: 16px;
}

.form__button {
    max-width: 145px;
    width: 100%;
    padding: 11px 26px;
    background-color: #BAE249;

    font-weight: 700;
    font-size: 16px;
    color: #0B1919;
}