.bottom-container {
    padding: 60px calc(50% - 555px);
    background: url('../img/bg/background_bottom.png') center / cover no-repeat;
}

.bottom-container__title {
    margin-bottom: 16px;
}

.bottom-container__text {
    max-width: 825px;
    width: 100%;
    margin-bottom: 24px;
}

.bottom-container__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__input {
    max-width: 350px;
    padding: 13px 0 11px 16px;
    background-color: #FFFFFF;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.form__input:hover {
    background-color: #899D9D;
}

.form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s ease-in;
}

.form__input:hover::placeholder {
    color: #FFFFFF;
}

.form__input:focus {
    outline: 1px solid #83A440;
}

.form__button {
    max-width: 145px;
    width: 100%;
    padding: 11px 26px;
    background-color: #BAE249;
    font-weight: 700;
    font-size: 16px;
    color: #0B1919;
    transition: all 0.3s ease-in;
}

.form__button:hover {
    background-color: #91AC46;
}

.form__button:active {
    transition: all 0.1s ease-in;
    background-color: #688B05;
}