.cards {
    padding: 60px calc(50% - 555px) 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    background-color: var(--background);
}

.card {
    position: relative;
    border: 1px solid black;
    flex: 1 1 calc(25% - 30px);
}

.card__img {
    height: 180px;
    padding: 30px 16px;
}

.card__numeric-value {
    position: absolute;
    top: 16px;
    left: 16px;
}

.card__img_plant {
    background: var(--background-shade) url(../img/picture/plant.png) center no-repeat;
}

.card__img_flower {
    background: var(--background-shade) url(../img/picture/flower.png) center no-repeat;
}

.card__img_leaf {
    background: var(--background-shade) url(../img/picture/leaf.png) center no-repeat;
}

.card__img_wood {
    background: var(--background-shade) url(../img/picture/wood.png) center no-repeat;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 313px;
    padding: 16px 16px 24px 16px;
}

.card__title {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}

.card__text {
    color: var(--grey);
    line-height: 150%;
    font-weight: 400;
    font-size: 16px;
}

.card__button {
    color: var(--primary-green);
    padding: 11px 29px;
    border: 1px solid var(--primary-green);
    max-width: 145px;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s ease-in;
}

.card__button:hover {
    background-color: var(--primary-green);
    color: var(--background-shade);
}

.card__button:active {
    transition: all 0.1s ease-in;
    background-color: var(--green-active);
    color: var(--background-shade);
    border: 1px solid var(--green-active);
}