.footer__links {
    background-color: #0B1919;
    padding: 18px 0;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.footer__link {
    display: flex;
    align-items: center;
}

.footer__link svg {
    fill: #899D9D;
    transition: all 0.3s ease-in;
}

.footer__link:hover svg {
    fill: #BAE249;
}

.footer__link:active svg {
    transition: all 0.1s ease-in;
    fill: #688B05;
}

.bottom-content {
    color: #899D9D;
    background-color: #1D2F30;
    padding: 3px 0;
    text-align: center;
}