.footer__links {
    background-color: var(--background-shade);
    padding: 18px 0;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.footer__link {
    display: flex;
    align-items: center;
}

.footer__link svg {
    fill: var(--grey);
    transition: all 0.3s ease-in;
}

.footer__link:hover svg {
    fill: var(--primary-green);
}

.footer__link:active svg {
    transition: all 0.1s ease-in;
    fill: var(--green-active);
}

.bottom-content {
    color: var(--grey);
    background-color: var(--background);
    padding: 3px 0;
    text-align: center;
}