.header {
    display: flex;
    justify-content: space-between;
    padding: 18px calc(50% - 555px) 18px;
    position: fixed;
    background-color: #0B1919;
    width: 100%;
    top: 0;
    z-index: 5;
    align-items: center;
}

.header__nav {
    display: flex;
    width: 512px;
    justify-content: space-between
}

.nav__link {
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s ease-in;
}

.header__buttons {
    display: flex;
    gap: 64px;
}

.nav__link:hover {
    color: #BAE249;
}

.nav__link:active {
    transition: all 0.1s ease-in;
    color: #688B05;
}

.header__button svg {
    stroke: #BAE249;
    transition: all 0.3s ease-in;
}

.header__button:hover svg {
    stroke: #91AC46;
}

.header__button:active svg {
    transition: all 0.1s ease-in;
    stroke: #688B05;
}