.header {
    display: flex;
    justify-content: space-between;
    padding: 18px calc(50% - 555px) 18px;
    position: fixed;
    background-color: #0B1919;
    width: 100%;
    top: 0;
    z-index: 5;
    align-items: center;
}

.header-logo {}


.header__nav {
    display: flex;
    width: 512px;
    justify-content: space-between
}

.nav__link {

    font-weight: 400;
    font-size: 16px;
}

.header__buttons {
    display: flex;
    gap: 64px;
}