@media (max-width: 1200px) {
    .header,
    .cards {
        padding: 18px 29px;
    }
}

@media (max-width: 1024px) {
    /* .top-container {
        padding: ;
    } */
    .card {
        flex: 0 1 calc(33.333333333% - 30px);
    }

    .card:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    .top-container__text {
        display: none;
    }

    .card {
        flex: 1 1 calc(50% - 30px);
    }

    .card:last-child {
        display: block;
    }

}

@media (max-width: 544px) {
    .card {
        flex: 1 1 100%;
    }

}