@media (max-width: 1200px) {

    .header,
    .top-container,
    .cards,
    .new-artifacts,
    .bottom-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header,
    .cards {
        padding: 18px 29px;
    }
}


@media (max-width: 1024px) {

    .card {
        flex: 0 1 calc(33.333333333% - 30px);
    }

    .card:last-child {
        display: none;
    }
}


@media (max-width: 768px) {

    .header {
        position: relative;
    }

    .top-container {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 60px;
        margin-top: 0px;
    }

    .header__buttons {
        gap: 32px;
    }

    /* .header__nav-list {
        display: none;
    } */

    .header__nav {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        font-size: 42px;
        position: fixed;
        height: calc(100% - 64px);
        width: 100%;
        background-color: var(--grey);
        left: 0;
        right: 0;
        padding: 30px 0;
        transition: 0.4s ease;
        top: -200%;
    }

    .header__nav._active {
        top: 64px;
    }

    .header__burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header__burger span {
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--primary-green);
        /* transition: 0.2s ease; */
    }

    .header__burger span::before {
        content: "";
        width: 30px;
        height: 1.5px;
        background-color: var(--primary-green);
        position: absolute;
        top: 20px;
        /* transition: 0.2s ease; */
    }

    .header__burger span::after {
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--primary-green);
        position: absolute;
        top: 42px;
    }

    .header__burger._active span {
        transform: rotate(-45deg);
        transition: 0.2s ease;
        background-color: var(--grey);
    }

    .header__burger._active span::before {
        transform: rotate(270deg);
        top: 1px;
        height: 2px;
        transition: 0.2s ease;
        background-color: var(--grey);
    }

    .header__burger._active span::after {
        width: 0;
    }

    .top-container__title {
        font-size: 48px;
        margin-bottom: 25px;
    }

    .top-container__text {
        display: none;
    }

    .card {
        flex: 1 1 calc(50% - 30px);
    }

    .card:last-child {
        display: block;
    }

    .new-artifacts__content {
        flex-direction: column;
    }

    .content__artifacts {
        height: 493px;
        width: 100%;
        max-width: 100%;
    }

    .bottom-container__text {
        display: none;
    }

    .bottom-container {
        padding-top: 30px;
        padding-bottom: 48px;
    }

    .bottom-container__title {
        margin-bottom: 44px;
    }

    .content__inf {
        max-width: 100%;
    }

}

@media (max-width: 544px) {
    .card {
        flex: 1 1 100%;
    }

}