.new-artifacts {
    padding: 60px calc(50% - 555px) 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new-artifacts__content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.content__artifacts {
    max-width: 825px;
    width: 100%;
    background-color: var(--background-shade);
    overflow: auto;
}

.content__artifact-items {
    position: relative;
}

.moss42 {
    position: absolute;
    top: 16px;
    left: 16px;
}

.content__artifact-item-numeric-value42 {
    position: absolute;
    top: 142px;
    left: 16px;
}

.moss72 {
    position: absolute;
    top: 16px;
    left: 165px;
}

.content__artifact-item-numeric-value72 {
    position: absolute;
    top: 16px;
    left: 324px;
}

.wood27 {
    position: absolute;
    left: 385px;
    top: 16px;
}

.content__artifact-item-numeric-value27 {
    position: absolute;
    top: 50px;
    left: 516px;
}

.flower51 {
    position: absolute;
    top: 148px;
    left: 16px;
}

.content__artifact-item-numeric-value51 {
    position: absolute;
    top: 335px;
    left: 156px;
}

.polypody91 {
    position: absolute;
    left: 285px;
    top: 148px;
}

.content__artifact-item-numeric-value91 {
    position: absolute;
    top: 417px;
    left: 394px;
}

.bark17 {
    position: absolute;
    left: 470px;
    top: 148px;
}

.content__artifact-item-numeric-value17 {
    position: absolute;
    top: 168px;
    left: 620px;
}

.flower23 {
    position: absolute;
    left: 685px;
    top: 148px;
}

.content__artifact-item-numeric-value23 {
    position: absolute;
    top: 417px;
    left: 745px;
}

.content__inf {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 24px 16px;
    background-color: var(--primary-green);
    max-width: 255px;
    width: 100%;
    gap: 75px;
}

.content__inf-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inf-container__title {
    font-family: Cormorant;
    font-weight: 700;
    font-size: 24px;
    color: var(--background);
}

.inf-container__text {
    font-weight: 400;
    font-size: 16px;
    color: var(--green-text);
}

.content__links {
    display: flex;
    gap: 8px;
}

.content__link {
    font-weight: 700;
    font-size: 16px;
    color: var(--background-shade);
    transition: all 0.3s ease-in-out;
}

.content__icon-arrow svg {
    fill: var(--background-shade);
    margin-top: 2px;
    transition: all 0.3s ease-in-out;
}

.content__links:hover .content__icon-arrow svg {
    transform: translateX(4px);
    fill: var(--green-active);
}

.content__links:hover .content__link {
    color: var(--green-active);
}