@font-face {
    font-family: "Cormorant";
    src:
        url("./fonts/cormorant/Cormorant-Regular.woff") format("woff"),
        url("./fonts/cormorant/Cormorant-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cormorant";
    src:
        url("./fonts/cormorant/Cormorant-Medium.woff") format("woff"),
        url("./fonts/cormorant/Cormorant-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Cormorant";
    src:
        url("./fonts/cormorant/Cormorant-Bold.woff") format("woff"),
        url("./fonts/cormorant/Cormorant-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src:
        url("./fonts/open_sans/OpenSans-Regular.woff") format("woff"),
        url("./fonts/open_sans/OpenSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src:
        url("./fonts/open_sans/OpenSans-Bold.woff") format("woff"),
        url("./fonts/open_sans/OpenSans-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Cormorant";
    src:
        url("./fonts/cormorant/Cormorant-SemiBoldItalic.woff") format("woff"),
        url("./fonts/cormorant/Cormorant-SemiBoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
}

.main-subtitle {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
}

.main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

/* .header {
    display: flex;
    justify-content: space-between;
    padding: 18px calc(50% - 555px) 18px;
    position: fixed;
    background-color: #0B1919;
    width: 100%;
    top: 0;
    z-index: 5;
    align-items: center;
}

.header-logo {}


.header__nav {
    display: flex;
    width: 512px;
    justify-content: space-between
}

.nav__link {

    font-weight: 400;
    font-size: 16px;
}

.header__buttons {
    display: flex;
    gap: 64px;
} */

/* .top-container {
    margin-top: 63.333px;
    padding: 89px calc(50% - 555px) 139px;
    background: url('../img/bg/background_top.png') center / cover no-repeat;
    position: relative;
}

.top-container::after {
    content: '';
    position: absolute;
    background-color: rgba(29, 47, 48, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.top-container__title {
    color: white;
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 60px;
    max-width: 629px;
    width: 100%;
    margin-bottom: 4px;
    position: relative;
    z-index: 1;
}

.top-container__text {
    margin-bottom: 4px;
    max-width: 675px;
    width: 100%;

    font-weight: 400;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.top-container__link {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 8px;
}

.link__text {
    color: #BAE249;

    font-weight: 700;
    font-size: 16px;
}

.link__arrow {
    margin-top: 2px;
} */

/* .cards {
    /* ! pb - в дальнейшем изменить  */
/* padding: 60px calc(50% - 555px) 60px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: #1D2F30;
}

.card {
    position: relative;
    max-width: 255px;
    width: 100%;
    border: 1px solid black;
}

.card__img {
    width: 255px;
    height: 180px;
    padding: 30px 16px;
}

.card__numeric-value {
    position: absolute;
    top: 16px;
    left: 16px;
}

.card__img_plant {
    background: #0B1919 url(../img/picture/plant.png) center no-repeat;
}

.card__img_flower {
    background: #0B1919 url(../img/picture/flower.png) center no-repeat;
}

.card__img_leaf {
    background: #0B1919 url(../img/picture/leaf.png) center no-repeat;
}

.card__img_wood {
    background: #0B1919 url(../img/picture/wood.png) center no-repeat;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 313px;
    padding: 16px 16px 24px 16px;
}

.card__title {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}

.card__text {
    color: #899D9D;

    font-weight: 400;
    font-size: 16px;
}

.card__button {
    color: #BAE249;
    padding: 11px 29px;
    border: 1px solid #BAE249;
    max-width: 145px;

    font-weight: 400;
    font-size: 16px;
} */

/* .bottom-container {
    padding: 60px calc(50% - 555px);
    background: url('../img/bg/background_bottom.png') center / cover no-repeat;
}

.bottom-container__title {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 16px;
}

.bottom-container__text {

    font-weight: 400;
    font-size: 16px;
    max-width: 825px;
    width: 100%;
    margin-bottom: 24px;
}

.bottom-container__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__input {
    max-width: 350px;
    padding: 13px 0 11px 16px;
}

.form__input::placeholder {

    font-weight: 400;
    font-size: 16px;
}

.form__button {
    max-width: 145px;
    width: 100%;
    padding: 11px 26px;
    background-color: #BAE249;

    font-weight: 700;
    font-size: 16px;
    color: #0B1919;
} */

/* .footer {
    background-color: #0B1919;
    padding: 18px calc(50% - 93px);
}

.footer__links {
    display: flex;
    gap: 24px;
    align-items: center;
}

.bottom-content {
    color: #899D9D;
    background-color: #1D2F30;
    padding: 3px 0;
    text-align: center;
} */