@font-face {
    font-family: "Cormorant";
    src:
        url("./fonts/cormorant/Cormorant-Regular.woff") format("woff"),
        url("./fonts/cormorant/Cormorant-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cormorant";
    src:
        url("./fonts/cormorant/Cormorant-Medium.woff") format("woff"),
        url("./fonts/cormorant/Cormorant-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Cormorant";
    src:
        url("./fonts/cormorant/Cormorant-Bold.woff") format("woff"),
        url("./fonts/cormorant/Cormorant-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src:
        url("./fonts/open_sans/OpenSans-Regular.woff") format("woff"),
        url("./fonts/open_sans/OpenSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src:
        url("./fonts/open_sans/OpenSans-Bold.woff") format("woff"),
        url("./fonts/open_sans/OpenSans-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Cormorant";
    src:
        url("./fonts/cormorant/Cormorant-SemiBoldItalic.woff") format("woff"),
        url("./fonts/cormorant/Cormorant-SemiBoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
}

.main-subtitle {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
}

.main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}